Gad 314/UserSettings/Layouts/default-6000.dwlt
Gad 314/Library
Gad 314/Temp
Gad 314/ProjectSettings
Gad 314/obj
Gad 314/UserSettings/EditorUserSettings.asset
Gad 314/UserSettings/EditorUserSettings.asset
